body {
	margin: 0;
	min-height: 100vh;
	background: #262018 url("img/bg.svg") center / 10em;
	color: #fff2c8;
	font-size: 1.2rem;
	font-family: "Lato", Helvetica, Arial, sans-serif; }

body > .wrapper {
	position: relative;
	max-width: 100vw;
	max-height: 100vh;
	overflow-x: hidden; }

body::before, body::after {
	content: "";
	width: 100vw;
	height: 5vh;
	display: block;
	position: fixed;
	z-index: 9;
	left: 0;
	cursor: none;
	pointer-events: none; }

body::before {
	background: linear-gradient(#1d1913, transparent);
	top: 0; }

body::after {
	background: linear-gradient(transparent, #1d1913);
	bottom: 0; }

h1, h2, h3 {
	text-shadow: 0 0 1rem #1a1814;
	pointer-events: none;
	font-family: "Martel", "Times New Roman", Times, serif; }

h2, h3 { color: #f7ba10; }

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }

a {
	color: #f7ba10;
	text-decoration: none;
	transition: color .3s, text-shadow .3s; }

a:hover, a:focus, a:active {
	color: #f6c84a;
	text-shadow: 0 0 .5rem #755706; }

.header {
	text-align: center;
	margin: 8rem 1rem 1rem; }

.header.sub {
	margin: -1rem auto 1rem; }

section {
	min-height: 50vh;
	padding: 1rem 2rem; }

/* main section */

section.main {
	margin-top: -10vh;
	min-height: 66vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; }

section.main span {
	position: relative;
	z-index: 99;
	text-shadow: 0 0 1rem#1a1814;
	right: 15%; }

.headshot {
	position: absolute;
	bottom: -5%;
	right: 10%; }

.headshot .img {
	object-fit: cover;
	object-position: center;
	width: 40vw;
	max-width: 600px;
	border: 2px solid #2d86da;
	border-radius: 3rem;
	box-shadow: 0rem .3rem 2rem rgba(0, 0, 0, .2);
	filter: brightness(90%);
	transition: filter .3s, box-shadow .3s, border .3s; }

.headshot:hover .img {
	border: 2px solid #3a96ec;
	filter: brightness(100%);
	box-shadow: 0rem .3rem 2rem rgba(0, 0, 0, .6); }

/* about section  */

.about {
	width: 35%;
	margin: 1rem auto;
	padding: 7rem 5rem;
	border: 1px solid #776f54;
	border-radius: 2rem;
	background-color: #262018;
	font-size: 1.4rem;
	text-align: justify; }

/* display */

.display {
	width: 60%;
	padding: 0 6rem;
	margin: -3rem auto 3rem;
}

.display a {
	margin: 5rem 0;
	color: currentColor;
	display: block;
	background: center / cover;
	border: 1px solid #89826b;
	border-radius: 1rem;
	box-shadow: 0rem .3rem 2rem rgba(0, 0, 0, .2);
	transition: text-shadow .3s, box-shadow .3s, border .3s; }

.display a:hover, .display a:focus, .display a:active {
	border: 1px solid #fff2c8;
	text-shadow: 0 0 .75rem #1a1814;
	box-shadow: 0rem .3rem 2rem rgba(0, 0, 0, .6); }

.display a .wrap {
	padding: 5rem 5rem 4rem;
	border-radius: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color .3s; }

.display a:hover .wrap, .display a:focus .wrap, .display a:active .wrap {
	background-color: rgba(0, 0, 0, .25); }

.display h3, .display p, .display .info {
	margin: 0;
	color: #fff2c8; }

.display .info {
	margin-top: 3rem;
	font-size: 1rem;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 1rem; }

.display .info p {
	padding: .2rem .4rem;
	background: #755706;
	border-radius: .3rem;
	transition: background .3s; }

.display a:hover .info p, .display a:focus .info p, .display a:active .info p {
	background: #e1a90f; }

.display .keithbaker { background-image: url("img/keithbaker.png");
	background-position-x:  75%; }
.display .tiktok { background-image: url("img/tiktok.png"); }
.display .ratcatcher { background-image: url("img/lanham.png"); }
.display .sandersons { background-image: url("img/sandersons.png"); }
.display .phone-call { background-image: url("img/phone-call.png"); }
.display .long-road { background-image: url("img/long-road.png"); }
.display .legendkeeper { background-image: url("img/legendkeeper.png"); }

/* footer */

section.footer {
	min-height: 60vh;
	font-size: 1.25rem;
	font-family: "Martel", "Times New Roman", Times, serif;
	display: flex;
	flex-direction: column;
	align-items: center; }

section.footer .wrap {
	margin: 1rem auto;
	padding: 5rem 7rem;
	border: 1px solid #776f54;
	border-radius: 2rem;
	background-color: #262018;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center; }

section.footer .wrap a {
	word-break: break-all; }

section.footer .designer {
	margin: 2rem auto 0;
	text-align: center; }

section.footer .divider {
	opacity: .5;
	user-select: none; }

section.footer > a {
	text-decoration: none; }

/* misc */

.center { text-align: center; }

.hidden {
	opacity: 0;
	pointer-events: none;
	cursor: default; }

.header-before, .footer-after {
	width: 100vw;
	height: 10vh;
	position: relative;
	z-index: 99;
	cursor: none;
	pointer-events: none; }

.header-before { background: linear-gradient(#262018 50%, transparent); }
.footer-after { background: linear-gradient(transparent, #262018 50%); }

/* open animation */

.animated {
	opacity: 0;
	position: relative;
	top: 75vw;
	animation: in .9s ease-out forwards; }

.second { animation-delay: .05s; }
.third  { animation-delay: .2s; }
.fourth { animation-delay: .35s; }
.fifth  { animation-delay: .5s; }
.sixth  { animation-delay: .65s; }

@keyframes in {
	from {
		opacity: 0;
		top: 50vw; }

	to {
		opacity: 1;
		top: 0; }
}

/* responsive/ 4:3 */

@media (max-aspect-ratio: 4/3) {
	body {
		background-size: 12.5em; }

	section.main span {
		right: 10%;	}

	.headshot {
		bottom: 1%; }

	.about {
		width: 60%;
		padding: 3rem 5rem; }

	.display {
		width: 70%; }

	section.footer .wrap {
		padding: 3rem 5rem;	}
}

/* responsive/ portrait */

@media (orientation: portrait) {
	body {
		background-size: 20em; }

	body, section.footer {
		font-size: 1.1rem; }

	section.main span {
		position: absolute;
		right: unset;
		left: 0;
		top: -5%;
		text-align: left; }

	section.main .header {
		width: 70%;
		margin-left: 2rem !important;
		text-align: left; }

	.headshot {
		right: -5%;
		bottom: -10%; }

	.headshot .img {
		width: unset;
		max-width: 80vw;
		height: 80vh; }

	.about {
		width: 90%;
		padding: 3rem 1.5rem;
		font-size: 1.25rem; }

	.display {
		width: unset;
		padding: 0; }

	.display a .wrap {
		padding: 5rem 1.5rem 4rem; }

	section.footer .wrap {
		text-align: center;
		padding: 5rem 1.5rem; }
}
